@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android";
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format('opentype');
}
/* CONFIGURAÇÔES PRE-DETERMINADAS: */
:root{
    --color0:#c5ebd6;
    --color1:#83e1adc5;
    --color2:#3ddc84;
    --color3:#2fa866;
    --color4:#1a5c37;
    --color5:#063d1e;
    --fonte-padrao: Arial,Verdana,sans-serif;
    --fonte-destaque:'Bebas Neue' ,'cursive';
    --fonte-android:'Android','cursive';
}

/*CONFIGURAÇÕES DE ESTILO CORPO DO SITE: */
body{
    background-color: var(--color0);
    margin: 0px;
}
div{
    background-color: var(--color3);
    margin: 0px;
 
}

/*CONFIGURAÇÕES DE ESTILO CABEÇALHO:*/
header{
    background-image: linear-gradient(to top , var(--color5) , var(--color3));
    padding: 10px;
}
header > #h1principal{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
header > p{
    font-family: var(--fonte-destaque);
    color: rgba(255, 255, 255, 0.811);
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

/*CONFIGURAÇÕES DE ESTILO MENU DE NAVEGAÇÃO:*/
nav{
    background-color: var(--color5);
    padding: 30px;
    text-align: left;
}
nav > .menu{
    font-family: var(--fonte-padrao);
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    margin-right: 20px;
}
nav > .menu:hover{
    background-color: var(--color3);
    border-radius: 10px;
    animation-duration: .5s;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.591);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.591);
}

/*CONFIGURAÇÕES DE ESTILO ARTICLE:*/
article{
    background-color: white;
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
article > .paragrafo{
    text-align: justify;
    text-indent: 10px;
}
article > .h1article{
    font-family: var(--fonte-android);
    font-weight: bold;
    background-image: linear-gradient(to right , var(--color0), transparent);
    text-align: justify ;
}
.imagem{
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: auto;
}
 .imagem2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.video{
    background-color: var(--color4);
    margin: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.29);
    position: relative;
    padding: 20%;
}
.video> iframe{
    display: block;
    margin: auto;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90% 
}

/*CONFIGURAÇÕES ASIDE*/
aside{
    background-color: var(--color1);
    color: black;
    margin: 50px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
}
aside > h3{
    background-color: var(--color3);
    color: white;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    margin: -5px;
}
aside >ul{
    columns: 2;
}

/*CONFIGURAÇÕES RODAPÉ*/

footer{
    background-color: var(--color5);
    color: white;
    text-align: center;
    margin: auto;
    position: relative;
    padding: 5px;
    
}
footer > a:hover{
    color: #2fa866;
}
footer > a{
    color: white;
    max-width: 800px;
    min-width: 1200px;
}
.links{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: var(--color2)
}
.links:hover{
    background-color: var(--color3);
    text-decoration: underline;
    transition-duration: .5s;
    color: white;
    border-radius: 3px;

}
.linksroda{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.linksroda:hover{
    background-color: var(--color3);
    text-decoration: underline;
    transition-duration: .5s;
    color: white;
    border-radius: 3px;
}

